html[data-theme="light"] {
  --icon-color: #121416d8;
}

html[data-theme="dark"] {
  --icon-color: #f7f8f8;
}

.slick-dots li button:before {
  color: var(--icon-color) !important;
}

.comment_focus:focus {
  background-color: #edf2f7 !important;
}
